---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/Hero.astro'
import PlayerGrid from '../components/PlayerGrid.astro'
import PlayerCard from '../components/PlayerCard.astro'
import backgroundImage from '../assets/images/wpt-bg.png'

const API_HOST = import.meta.env.API_HOST
const API_TOKEN = import.meta.env.API_TOKEN

const API_URL = import.meta.env.API_URL
const competitionID = 3 // World Padel Tour ID
const topRanking = 21


const url = API_URL + `/v1/competitions/${competitionID}/ranking?top=${topRanking}`
const options = {
	method: 'GET',
	headers: {
		'X-RapidAPI-Key': API_TOKEN,
		'X-RapidAPI-Host': API_HOST
	}
}

const response = await fetch(url, options)
const { data } = await response.json()
---

<Layout title="World Padel Tour ">
	<main class={`bg-center-top bg-no-repeat bg-blend-multiply w-full`} style={`background-image: url(${backgroundImage.src})`}>

		<Hero
      title="Get to know the news from the world of WPT"
      description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    />

    <PlayerGrid>
      {
        data.map((player, index) => (
          <PlayerCard
            name={player.name}
            image={player.image}
            sidePosition={player.side_position}
            birthPlace={player.birth_place}
            rankingPosition={index + 1} 
          />
        ))
      }
    </PlayerGrid>

	</main>
</Layout>

